<a href="https://colab.research.google.com/github/MubasshirNaib/Machine-learning/blob/main/MLTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dataset=pd.read_csv('/content/sample_data/results.csv')
# Load the Iris dataset
# url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
# column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
# iris = pd.read_csv(url, header=None, names=column_names

print("Displaying the first few rows of dataset:")
print(dataset.head())
print("Displaying the last few rows of dataset:")
print(dataset.tail())

Displaying the first few rows of dataset:
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England         0.0         0.0   Friendly  Glasgow
1  1873-03-08   England  Scotland         4.0         2.0   Friendly   London
2  1874-03-07  Scotland   England         2.0         1.0   Friendly  Glasgow
3  1875-03-06   England  Scotland         2.0         2.0   Friendly   London
4  1876-03-04  Scotland   England         3.0         0.0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False
Displaying the last few rows of dataset:
             date home_team away_team  home_score  away_score tournament  \
47121  2024-07-06       NaN       NaN         NaN         NaN  UEFA Euro
47122  2024-07-06       NaN       NaN         NaN         NaN  UEFA Euro
47123  2024-07-09       NaN       NaN         NaN         NaN  UEFA Euro
47124  2024-07-10       NaN       NaN         NaN         NaN  UEFA Euro
47125  2024-07-14       NaN       NaN         NaN         NaN  UEFA Euro

             city  country  neutral
47121  DÃ¼sseldorf  Germany     True
47122      Berlin  Germany     True
47123      Munich  Germany     True
47124    Dortmund  Germany     True
47125      Berlin  Germany     True

In [ ]:
print("Information about the dataset:")
print(dataset.info())

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47126 entries, 0 to 47125
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        47126 non-null  object
 1   home_team   47111 non-null  object
 2   away_team   47111 non-null  object
 3   home_score  47075 non-null  float64
 4   away_score  47075 non-null  float64
 5   tournament  47126 non-null  object
 6   city        47126 non-null  object
 7   country     47126 non-null  object
 8   neutral     47126 non-null  bool
dtypes: bool(1), float64(2), object(6)
memory usage: 2.9+ MB
None

In [ ]:
print("Missing Values: ")
print(dataset.isnull().sum())

Missing Values:
date           0
home_team     15
away_team     15
home_score    51
away_score    51
tournament     0
city           0
country        0
neutral        0
dtype: int64

In [ ]:
print("Summary statistics of numerical coloumns:")
print(dataset.describe())

Summary statistics of numerical coloumns:
         home_score    away_score
count  47075.000000  47075.000000
mean       1.761190      1.183452
std        1.776751      1.402597
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [ ]:
print("Occurrences of each category in country coloumn")
print(dataset['country'].value_counts())

Occurrences of each category in country coloumn
country
United States          1353
France                  887
Malaysia                812
England                 743
Thailand                699
                       ...
Belgian Congo             1
Bohemia and Moravia       1
Mali Federation           1
Portuguese Guinea         1
Micronesia                1
Name: count, Length: 271, dtype: int64

Data selection

In [ ]:
print("subset of the data set by  some coloumns:")
subset_columns=dataset[['home_team','away_team','home_score','away_score']]
print(subset_columns)

subset of the data set by  some coloumns:
      home_team away_team  home_score  away_score
0      Scotland   England         0.0         0.0
1       England  Scotland         4.0         2.0
2      Scotland   England         2.0         1.0
3       England  Scotland         2.0         2.0
4      Scotland   England         3.0         0.0
...         ...       ...         ...         ...
47121       NaN       NaN         NaN         NaN
47122       NaN       NaN         NaN         NaN
47123       NaN       NaN         NaN         NaN
47124       NaN       NaN         NaN         NaN
47125       NaN       NaN         NaN         NaN

[47126 rows x 4 columns]

In [ ]:
#selecting specific columns and rows:
print(" specific columns and rows  1 to 5 ")
subset_row_column=dataset.loc[1:5,['home_team','away_team','home_score','away_score']]
print(subset_row_column)

 specific columns and rows  1 to 5
  home_team away_team  home_score  away_score
1   England  Scotland         4.0         2.0
2  Scotland   England         2.0         1.0
3   England  Scotland         2.0         2.0
4  Scotland   England         3.0         0.0
5  Scotland     Wales         4.0         0.0

Data Transformation

In [ ]:
dataset['home_score_squared']=dataset['home_score'].apply(lambda x:x**2)
print(dataset.head())

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England         0.0         0.0   Friendly  Glasgow
1  1873-03-08   England  Scotland         4.0         2.0   Friendly   London
2  1874-03-07  Scotland   England         2.0         1.0   Friendly  Glasgow
3  1875-03-06   England  Scotland         2.0         2.0   Friendly   London
4  1876-03-04  Scotland   England         3.0         0.0   Friendly  Glasgow

    country  neutral  home_score_squared
0  Scotland    False                 0.0
1   England    False                16.0
2  Scotland    False                 4.0
3   England    False                 4.0
4  Scotland    False                 9.0

In [ ]:
#map values of the 'tournament' column to new values
tournament_mapping={
    'FIFA World Cup':'World Cup',
    'Friendly':'Friendly Match',
}
dataset['Tournament_mapped']=dataset['tournament'].map(tournament_mapping)
print(dataset.head())

         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England         0.0         0.0   Friendly  Glasgow
1  1873-03-08   England  Scotland         4.0         2.0   Friendly   London
2  1874-03-07  Scotland   England         2.0         1.0   Friendly  Glasgow
3  1875-03-06   England  Scotland         2.0         2.0   Friendly   London
4  1876-03-04  Scotland   England         3.0         0.0   Friendly  Glasgow

    country  neutral  home_score_squared Tournament_mapped
0  Scotland    False                 0.0    Friendly Match
1   England    False                16.0    Friendly Match
2  Scotland    False                 4.0    Friendly Match
3   England    False                 4.0    Friendly Match
4  Scotland    False                 9.0    Friendly Match

Sorting

In [ ]:
#sort the dataset by date in non-ascending order
dataset_sorted=dataset.sort_values(by='date',ascending=False)
print(dataset_sorted.head())

             date home_team away_team  home_score  away_score tournament  \
47125  2024-07-14       NaN       NaN         NaN         NaN  UEFA Euro
47124  2024-07-10       NaN       NaN         NaN         NaN  UEFA Euro
47123  2024-07-09       NaN       NaN         NaN         NaN  UEFA Euro
47122  2024-07-06       NaN       NaN         NaN         NaN  UEFA Euro
47121  2024-07-06       NaN       NaN         NaN         NaN  UEFA Euro

             city  country  neutral  home_score_squared Tournament_mapped
47125      Berlin  Germany     True                 NaN               NaN
47124    Dortmund  Germany     True                 NaN               NaN
47123      Munich  Germany     True                 NaN               NaN
47122      Berlin  Germany     True                 NaN               NaN
47121  DÃ¼sseldorf  Germany     True                 NaN               NaN

Duplicte Handling

In [ ]:
duplicated_rows=dataset.duplicated()
print(duplicated_rows.sum())

0

In [ ]:
# Check for duplicates based on 'home_team' and 'away_team'
duplicates_specific_columns = dataset.duplicated(subset=['home_team', 'away_team'])
print("\nDuplicated entries based on 'home_team' and 'away_team':")
print(duplicates_specific_columns.sum())

Duplicated entries based on 'home_team' and 'away_team':
35270

In [ ]:
# Drop duplicate rows
df_no_duplicates = dataset.drop_duplicates()
print("DataFrame after dropping duplicate rows:")
print(df_no_duplicates.shape)

DataFrame after dropping duplicate rows:
(47126, 11)

Missing Value Handling

In [ ]:
# Check for missing values
missing_values = dataset.isnull().sum()
print("Missing values in the dataset:")
print(missing_values)

Missing values in the dataset:
date                      0
home_team                15
away_team                15
home_score               51
away_score               51
tournament                0
city                      0
country                   0
neutral                   0
home_score_squared       51
Tournament_mapped     28260
dtype: int64

In [ ]:
# Fill missing values with the next valid observation
df_filled = dataset.fillna(method='bfill')
print("DataFrame after filling missing values with the next valid observation:")
print(df_filled.isnull().sum())

DataFrame after filling missing values with the next valid observation:
date                   0
home_team             15
away_team             15
home_score            51
away_score            51
tournament             0
city                   0
country                0
neutral                0
home_score_squared    51
Tournament_mapped     51
dtype: int64